<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send mail</title>
</head>
<body>
    <h1>Hello, <%= user_name %></h1>
    <p>Recently you showed interest in some property, here are the Sellers details</p>
    <h4>Details</h4>
    <ul>
        <li>Name: <%= name %></li>
        <li>Email: <%= email %></li>
        <li>Mobile: <%= mobile %></li>
    </ul>
</body>
</html>